<!doctype html>
<html lang="en" ng-app='arpege'>
<head>
<meta charset="utf-8">
<title>ARpege - Automatic Role Play Game</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>


<body>

<div class="container"  ng-controller="MainBarCtrl">
    <h1 class="text-center">YourCharacter</h1>
<div class="row">
<div class="col-md-3 panel panel-info">
  <h2 class="text-center">ActionMenu</h2>
  <button type="button" class="btn btn-primary btn-block" ng-click="pex()">Go Pex</button>
  <button type="button" class="btn btn-primary btn-block" ng-click="heal()">Go Back Town</button>
</div>

<div class="col-md-6">
    <h3 class="text-center">Dynamic {{progress}}/{{max}}</h3>
    <progressbar max="max" value="progress"><span style="color:black; white-space:nowrap;">{{progress}} / {{max}}</span></progressbar>
</div>
<div class="col-md-3 panel panel-info" ng-controller="CharSheetCtrl">
  <h2 class="text-center">CharacterSheet</h2>
  <div >
    Level:<span class="badge pull-right">{{character.level}}</span>
  </div>
  <div>
    XP: {{character.experience}}/{{character.lvlXp(character.level)}} 
    <progressbar type="warning" value="xpPercent()" max="100"></progressbar>
  </div>

  <div>Health: {{character.health}}/{{character.maxHealth()}}
    <progressbar type="danger" value="healthPercent()" max="100"></progressbar></div>
  <div>
    <ul>
      <li>Strength:<span class="badge pull-right" type="danger">{{character.str()}}</span></li>
      <li>Dexterity:<span class="badge pull-right" type="danger">{{character.dex()}}</span></li>
      <li>Intelligence:<span class="badge pull-right" type="danger">{{character.int()}}</span></li>
    </ul>
  </div>
</div>
</div>
</body>
</html>